<div id="education" class="container">
    <article>
            <h1>EDUCATION</h1>
        <div class="diploma">
            <div class="date">
                <p><a href="http://www.enetcom.rnu.tn/" target="_blank"><i class="fas fa-map-marker-alt"></i> ENET'Com, Sfax, Tunisia</a></p>
                <p><i class="fas fa-calendar"></i> Current</p>
            </div>
            <div class="title">
                <a href="#">
                    <p>TELECOMMUNICATIONS
                        ENGINEERING</p>
                </a>
            </div>
    
            <div class="date">
                <p><a href="http://www.enetcom.rnu.tn/" target="_blank"><i class="fas fa-map-marker-alt"></i> ENET'Com, Sfax, Tunisia</a></p>
                <p><i class="fas fa-calendar"></i> 19/07/2021</p>
            </div>
            <div class="title">
                <a href="assets/diplome.jpg" target="_blank">
                    <p>BASIC DEGREE IN
                        INFORMATION AND
                        COMMUNICATION SCIENCES
                        AND TECHNOLOGIES</p>
                </a>
            </div>
            <div class="date">
                <p><a href="https://www.facebook.com/p/lyc%C3%A9e-IBN-RACHIK-100027047572446/?paipv=0&eav=AfZETgJxR20hjrXaFtFChFfbRBm-sngL9WE8H5PmHcCIqauOraCpmAV9jP1DZI6ANX0&_rdr" target="_blank"><i class="fas fa-map-marker-alt"></i> Ibn Rachik School, Sfax, Tunisia</a></p>
                <p><i class="fas fa-calendar"></i> 2018</p>
            </div>
            <div class="title">
                <a href="assets/diplome.jpg" target="_blank">
                    <p>BACHELOR OF MATHEMATICS</p>
                </a>
            </div>
        </div>
    
    </article>
</div>