<footer *ngIf="isVisible || isFooterEnlarged" [ngStyle]="{'height': footerHeight}">
    <div class="footer">
        
        <div>
            <h4>Don't forget to follow me..</h4>
            <p>
                <a href="https://www.facebook.com/fara7yengui" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/farah-yengui/" target="_blank"><i
                        class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://github.com/farahYengui" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            </p>

        </div>
            
        <div>
            <h1 class="custom-title title">Farah YENGUI</h1>
            <hr>
            <ul class="data">
                <li><i class="fas fa-map-marker-alt"></i> Sfax, Tunisia</li>
                <li> <i class="fas fa-phone"></i> +216 24 572 882</li>
                <li><i class="fas fa-envelope"></i><a href="mailto:farahyengui@gmail.com"> farahyengui@gmail.com</a>
                </li>
            </ul>

        </div>
        <div class="copyright">
            <a class="cv" href="assets/CV_Farah_YENGUI.pdf" target="_blank">Download my CV from here</a>
            <div>Copyright © 2024></div>
        </div>
    </div>

</footer>