<div id="experiences">
  <h1>EXPERIENCES</h1>
    <div class="my-timeline">

        <div class="my-container left-container">
          <div><h5>FULL-STACK DEVELOPMENT INTERN</h5></div>
          
          <div class="text-box">
            <p>Successfully integrated the essential elements of a web application for
                managing agricultural consultations, in particular dashboard interface,
                a notification system and a Consultation Agenda.</p>
          </div>
          <span>WWAC , Remote | Jul 2023 - Aug 2023</span>
        </div>
        <div class="my-container right-container">
          <div><h5>FRONTEND DEVELOPMENT INTERN</h5></div>
          <div class="text-box">
            <p>Developed necessary interfaces for a Business solutions platform
                dedicated to a beauty salon</p>
          </div>
          <span>MSK Technologies , Remote | Jun 2022 - Aug 2022</span>
        </div>
        <div class="timeline-line"></div>
        <img class="timeline-image" src="assets/briefcase.png" alt="">
      </div>
</div>