<div id="projects">
    <h1>PROJECTS</h1>
    <div>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">Feb 2023 -
                    Sep 2023</div>
                <img src="assets/agriplatform.png" class="carousel">
                <div class="text">FARMS MANAGEMENT PLATFORM</div>
                <p>Developed a web application dedicated to an agricultural
                    consulting office. The main objectives are to improve customer
                    management, centralize relevant information and optimize
                    consultation processes.</p>
                    <h6>Technologies : Angular, Spring Boot, MySQL, Postman </h6>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">Nov 2022 -
                    Dec 2022</div>
                <img src="assets/minigame.png" class="carousel">
                <div class="text">DESKTOP MINI GAME APPLICATION</div>
                <p>Designed and implemented a desktop application for a minigame that challenges players to decipher words from a set of
                    letters.</p>
                    <h6>Technologies : Java SE, MySQL
                    </h6>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">Sep 2021 -
                    Dec 2021</div>
                <img src="assets/recruitement.png" class="carousel">
                <div class="text">ONLINE RECRUITMENT WEB APPLICATION
                </div>
                <p>Crafted a candidate-centric platform, simplifying the job
                    application process for seamless access to relevant
                    opportunities.
                    </p>
                    <h6>Technologies : HTML, CSS, JS, J2EE, MySQL</h6>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">Feb 2021 -
                    Jul 2021
                    </div>
                <img src="assets/mobile.png" class="carousel">
                <div class="text">MOBILE AND DESKTOP APPLICATIONS FOR DIGITIZING UNIVERSITY RESTAURANT TICKET</div>
                <p>
                   
                    Developed a comprehensive solution comprising both a mobile
                    application for students to enable them to reserve tickets for
                    university restaurants and a desktop application for restaurant
                    employees to efficiently manage student entries.
                    </p>
                    <h6>Technologies: Java SE, React Native, Node.js, MySQL, Postman</h6>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </div>
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</div>