<div class="contactContainer"><img src="assets/contact.png" alt="contact" class="contact"></div>
<div class="formulaire">
    <img src="assets/bulle.png" alt="" id="fleche_bulle" />

    <form>
        <h3>Send Us A Message!</h3>
        <div class="inline">
            <strong>Your e-mail:</strong>
            <input type="email" name="email" placeholder="example@domain.com" size="20" />
        
            <strong>Object:</strong>
            <input type="text" name="object" placeholder="Object" size="20" />
        </div>
        <textarea id="story" name="textarea" rows="15" cols="25" placeholder="Write something here ..."></textarea>
        <br>
        <button type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 448 512">
            <path d="M384 32c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H384zM160 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h94.1L119 327c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l135-135V328c0 13.3 10.7 24 24 24s24-10.7 24-24V168c0-13.3-10.7-24-24-24H160z"/></svg>
        </button>
    </form>
    <img src="assets/phone.gif" alt="" id="waves" />
</div>