<div id="certifications">
    <article>
            <h1>CERTIFICATIONS</h1>
        <div id="certif-container">
            <div>
                <h4>Cisco Certified CyberOps Associate</h4>
                <h6>Cisco Networking Academy</h6> 
                <a href="assets/cyberops.png" target="_blank"><img src="assets/cyberops.png" alt="formation web"
                        class="scanner" /></a>
            </div>
            <div>
                <h4>Cisco Certified Network Associate Industrial (CCNA I)</h4>
               <h6>Cisco Networking Academy</h6> 
                <a href="assets/ccna.png" target="_blank"><img src="assets/ccna.png" alt="formation web"
                        class="scanner" /></a>
            </div>
            <div>
                <h4>Certificate of Participation in Web Development Training (HTML, CSS, JS)</h4>
                <h6>MTC ENETCOM</h6>
                <a href="assets/web.jpg" target="_blank"><img src="assets/web.jpg" alt="formation web"
                        class="scanner" /></a>
            </div>
            <div>
                <h4>Certificate of Participation in Java Training</h4>
                <h6>MB Consulting</h6>
                <a href="assets/java.jpg" target="_blank"><img src="assets/java.jpg" alt="formation java"
                        class="scanner" /></a>
            </div>
        </div>
    </article>
</div>
<div class="footer-container">

</div>