<div id="home" class="container">
    <div id="logo">
        <div class="c2">
            <div class="line"></div>
            <p class="hello">Welcome to<br> my digital haven!</p>
        </div>
        <img src="assets/myPhoto.png" alt="my photo" id="profil" />
        <img src="assets/photo1.png" alt="my photo" id="profil1" />
        <img src="assets/photo2.png" alt="my photo" id="profil2" />
        <p class="name">I am <strong>Farah YENGUI</strong></p>
        <p class="about">

            Hey there! 🚀 I'm a third-year student studying telecommunications engineering and I absolutely love
            creating apps.
            This blog is like my online hangout where I share the cool stuff I'm learning and building.
            Imagine tech and creativity meeting up for a party – that's what we're all about here!
            Come join me in exploring the awesome world where engineering and coding come together.
            We're gonna have a blast diving into all things tech and sharing the fun side of being a developer.
            Ready for the ride? Let's go! 🌟
        </p>
    </div>
</div>